/* @@author A0135788M */

.vBox {
	-fx-background-color: #83bdb8;
}

.header {
	-fx-font: 24px sans-serif;
    -fx-text-fill: #006064;
}

.mainWindowAnchor {
	-fx-background-color: black;
	-fx-border-color: black transparent transparent transparent;
	-fx-border-width: 2px;
}

.commandBox {
    -fx-font-size: 12pt;
    -fx-font-family: "Consolas";
    -fx-font-weight: bold;
    -fx-text-fill: aqua;
    -fx-background-color: black;
    -fx-focus-color:transparent;
}

.todolist {
    -fx-background-color: #83bdb8;
}

.todolist .list-cell:even, .todolist .list-cell:odd {
    -fx-background-color: #83bdb8;
}

.deadlineList .list-cell:even {
	-fx-background-color: black;
}

.deadlineList .list-cell:odd {
	-fx-background-color: black;
}

.eventList .list-cell:even {
	-fx-background-color: black;
}

.eventList .list-cell:odd {
	-fx-background-color: black;
}

.title {
	-fx-font: 25px "Garamond";
	-fx-font-weight: bold;
}

.time {
	-fx-font: 20px "Garamond";
}

.tags {
	-fx-font: 20px "Garamond";
}


.list-view .list-cell:empty {
	-fx-background-color: #83bdb8;
}