/* @@author A0144915A */
.result {
    -fx-background-color: #00838f;
    -fx-background-radius: 5px;
}

.result .label {
    -fx-text-fill: white;
}

.result .btn-close {
    -fx-background-color: white;
    -fx-text-fill: #00838f;
    -fx-background-radius: 2px;
    -fx-padding: 0 3px;
}